# .NET
bin/
obj/

# VS Code
.vscode/

# Rider
.idea/

# Logs
*.log

# User files
*.user
*.suo

# Environment
.env

# Uploads
uploads/

# Node
node_modules/

# Mac/Linux
.DS_Store

# Local self-signed SSL certificates
nginx/certs/*.crt
nginx/certs/*.key
nginx/certs/*.pem